<a href="https://colab.research.google.com/github/adile04/machine-learning-models/blob/main/turbo_az.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!/bin/bash
!kaggle datasets download sehriyarmemmedli/binaaz-sale-project

Dataset URL: https://www.kaggle.com/datasets/sehriyarmemmedli/binaaz-sale-project
License(s): unknown
Downloading binaaz-sale-project.zip to /content
 40% 16.0M/39.8M [00:00<00:00, 66.1MB/s]
100% 39.8M/39.8M [00:00<00:00, 121MB/s]

In [ ]:
!unzip binaaz-sale-project.zip

Archive:  binaaz-sale-project.zip
  inflating: house_sale.csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/house_sale.csv')

In [ ]:
df.head(3)

,id_x,rel_url,estate_rel_url_x,datetime_scrape_x,price,currency_x,location,attributes,city_when,city,...,Mərtəbə,Otaq sayı,Sahə,Torpaq sahəsi,Təmir,Çıxarış,İpoteka,estate_details_id_y,estate_rel_url,extra_info
0,5df36281-6dc6-4d5d-89a7-5fcfa86f7608,/alqi-satqi?page=174,/items/4521724,2024-10-05 22:07:37.60613+00,499999.0,AZN,Səbail r.,"4 otaqlı, 145 m², 7/9 mərtəbə","Bakı, dünən 23:52",bakı,...,7 / 9,4.0,145 m²,NaN,var,var,NaN,92e82ea2-e1f3-4c2d-a284-151efd99281e,/items/4521724,Şəhidlər xiyabanı * Dağüstü parkı * Səbail r.
1,883e20f0-8872-49a5-8b4b-63b8301b5f8f,/alqi-satqi?page=250,/items/4669294,2024-10-05 22:07:37.60613+00,77000.0,AZN,Biləcəri q.,"4 otaqlı, 90 m²","Bakı, dünən 23:56",bakı,...,NaN,4.0,90 m²,1.3 sot,var,yoxdur,NaN,505eaf81-6bc8-4094-9b00-aa82066548ee,/items/4669294,Binəqədi r.* Biləcəri q.
2,55c36fb1-a3af-476e-ba17-a81f6795be8d,/alqi-satqi?page=250,/items/4669293,2024-10-05 22:07:37.60613+00,92000.0,AZN,İnşaatçılar m.,"3 otaqlı, 60 m²","Bakı, dünən 23:55",bakı,...,NaN,3.0,60 m²,0.1 sot,var,var,NaN,fa63b201-999d-43b5-a61a-778d9d79a6c6,/items/4669293,İnşaatçılar m.* Yasamal r.

In [ ]:
df.columns

Index(['id_x', 'rel_url', 'estate_rel_url_x', 'datetime_scrape_x', 'price',
       'currency_x', 'location', 'attributes', 'city_when', 'city', 'day_x',
       'hour_x', 'repair', 'vip', 'featured', 'products_label', 'bill_of_sale',
       'mortgage', 'img_url', 'id_y', 'estate_id', 'estate_rel_url_y',
       'datetime_scrape_y', 'description', 'unit_price', 'total_price',
       'currency_y', 'owner_name', 'owner_title', 'shop_name', 'shop_title',
       'address', 'lat', 'lng', 'updated', 'views', 'day_y', 'hour_y',
       'estate_details_id_x', 'Binanın növü', 'Kateqoriya', 'Mərtəbə',
       'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka',
       'estate_details_id_y', 'estate_rel_url', 'extra_info'],
      dtype='object')

In [ ]:
df.drop(columns=['id_x','rel_url', 'estate_rel_url_x', 'datetime_scrape_x','img_url', 'id_y', 'estate_id', 'estate_rel_url_y',
       'datetime_scrape_y','updated', 'views','day_x',	'hour_x' ,'day_y', 'hour_y',
       'estate_details_id_x', 'repair',
       'estate_details_id_y','bill_of_sale','mortgage', 'estate_rel_url','owner_name'], inplace=True
)
df.head()

,price,currency_x,location,attributes,city_when,city,vip,featured,products_label,description,...,Binanın növü,Kateqoriya,Mərtəbə,Otaq sayı,Sahə,Torpaq sahəsi,Təmir,Çıxarış,İpoteka,extra_info
0,499999.0,AZN,Səbail r.,"4 otaqlı, 145 m², 7/9 mərtəbə","Bakı, dünən 23:52",bakı,vipped,featured,NaN,"Səbail Rayonu, İzzət Nəbiyev küçəsi, Fəxri Xiy...",...,NaN,Köhnə tikili,7 / 9,4.0,145 m²,NaN,var,var,NaN,Şəhidlər xiyabanı * Dağüstü parkı * Səbail r.
1,77000.0,AZN,Biləcəri q.,"4 otaqlı, 90 m²","Bakı, dünən 23:56",bakı,NaN,NaN,NaN,"Biləcəridə Abidəyə yaxin 91,92,202 saylı marşr...",...,NaN,Həyət evi/Bağ evi,NaN,4.0,90 m²,1.3 sot,var,yoxdur,NaN,Binəqədi r.* Biləcəri q.
2,92000.0,AZN,İnşaatçılar m.,"3 otaqlı, 60 m²","Bakı, dünən 23:55",bakı,NaN,NaN,NaN,Salam əleykum. \nİnşaatçılar metrosuna yaxın m...,...,NaN,Həyət evi/Bağ evi,NaN,3.0,60 m²,0.1 sot,var,var,NaN,İnşaatçılar m.* Yasamal r.
3,95000.0,AZN,Qaraçuxur q.,130 m²,"Bakı, dünən 23:55",bakı,vipped,featured,NaN,Barter maraqlidir üstünlük maşina verilir\nHər...,...,NaN,Obyekt,NaN,NaN,130 m²,NaN,var,var,var,Suraxanı r.* Qaraçuxur q.
4,220000.0,AZN,Əhmədli m.,"3 otaqlı, 100 m², 15/16 mərtəbə","Bakı, dünən 23:52",bakı,NaN,NaN,Agentlik,Əhmədli qəs. Qaçaq Nəbi küçəsi 3 otaga duzelm...,...,NaN,Yeni tikili,15 / 16,3.0,100 m²,NaN,var,var,NaN,Əhmədli m.* Xalqlar Dostluğu m.* Xətai r.* Əhm...

In [ ]:
import numpy as np

In [ ]:
df['currency_x']

0         AZN
1         AZN
2         AZN
3         AZN
4         AZN
         ...
100770    AZN
100771    AZN
100772    AZN
100773    AZN
100774    AZN
Name: currency_x, Length: 100775, dtype: object

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'attributes', 'city_when', 'city',
       'vip', 'featured', 'products_label', 'description', 'unit_price',
       'total_price', 'currency_y', 'owner_title', 'shop_name', 'shop_title',
       'address', 'lat', 'lng', 'Binanın növü', 'Kateqoriya', 'Mərtəbə',
       'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka',
       'extra_info'],
      dtype='object')

In [ ]:
df['total_price'].min()

11.0

In [ ]:
df = df[(df['total_price'] > 2000)]

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'attributes', 'city_when', 'city',
       'vip', 'featured', 'products_label', 'description', 'unit_price',
       'total_price', 'currency_y', 'owner_title', 'shop_name', 'shop_title',
       'address', 'lat', 'lng', 'Binanın növü', 'Kateqoriya', 'Mərtəbə',
       'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka',
       'extra_info'],
      dtype='object')

In [ ]:
df['currency_x'].value_counts()

currency_x
AZN    100743
Name: count, dtype: int64

In [ ]:
df['location'].value_counts().sort_values(ascending=False)

location
Nəriman Nərimanov m.     5390
Mərdəkan q.              4842
İnşaatçılar m.           4619
Elmlər Akademiyası m.    4560
Həzi Aslanov m.          4230
                         ...
Gədəbəy                     3
Gürgən q.                   1
Yeni Balaxanı q.            1
Şərq q.                     1
Yeni Corat q.               1
Name: count, Length: 142, dtype: int64

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'attributes', 'city_when', 'city',
       'vip', 'featured', 'products_label', 'description', 'unit_price',
       'total_price', 'currency_y', 'owner_title', 'shop_name', 'shop_title',
       'address', 'lat', 'lng', 'Binanın növü', 'Kateqoriya', 'Mərtəbə',
       'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka',
       'extra_info'],
      dtype='object')

In [ ]:
df=df.drop('city_when',axis=1)

In [ ]:
df['Təmir'].value_counts().sort_values(ascending=False)

Təmir
var       81604
yoxdur    13160
Name: count, dtype: int64

In [ ]:
df['Təmir'].isna().sum()

5979

In [ ]:
df['city'].value_counts().sort_values(ascending=False)

city
bakı           100408
xırdalan          198
xaçmaz             99
astara             22
naxçıvan mr         6
sumqayıt            4
ağdam               3
gədəbəy             3
Name: count, dtype: int64

In [ ]:
df['vip'].value_counts().sort_values(ascending=False)

vip
vipped    8592
Name: count, dtype: int64

In [ ]:
df['vip'].isna().sum()

92151

In [ ]:
df['featured'].value_counts().sort_values(ascending=False)

featured
featured    3149
Name: count, dtype: int64

In [ ]:
df['featured'].isna().sum()

97594

In [ ]:
df=df.drop('featured',axis=1)

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'attributes', 'city', 'vip',
       'products_label', 'description', 'unit_price', 'total_price',
       'currency_y', 'owner_title', 'shop_name', 'shop_title', 'address',
       'lat', 'lng', 'Binanın növü', 'Kateqoriya', 'Mərtəbə', 'Otaq sayı',
       'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka', 'extra_info'],
      dtype='object')

In [ ]:
df['products_label'].value_counts().sort_values()

products_label
Kompleks      649
Agentlik    71975
Name: count, dtype: int64

In [ ]:
df['description'].head(30)

0     Səbail Rayonu, İzzət Nəbiyev küçəsi, Fəxri Xiy...
1     Biləcəridə Abidəyə yaxin 91,92,202 saylı marşr...
2     Salam əleykum. \nİnşaatçılar metrosuna yaxın m...
3     Barter maraqlidir üstünlük maşina verilir\nHər...
4     Əhmədli qəs. Qaçaq Nəbi küçəsi  3 otaga duzelm...
5     Seherin tam merkezinde Nizami kucesinde Arxite...
6     Seherin merkezinde Deniz kenari bulvara 2 deq ...
7     Panarama Bayil\nTecili Deyerinden awagi satili...
8     Baki şəhəri, Yasamal rayonu, Məhəmməd ibn Hind...
9     TƏCİLİ YENİ TƏMİRLİ Qanuni 3 OTAQ SATILIR !!! ...
10    Hazır  icarədə olan hal hazırda işlək vəziyyət...
11    Qara Qarayev metrosunun çıxışındam 15 m məsafə...
12    TƏCİLİ SATILIR!Yasamal rayonu İnşaatçılar mst ...
13    Villa Badam yasayis kompleksi\nDuz golunun yan...
14    Nerimanov rayonu,Tebriz kücesinde 3 Otaqli men...
15    Tibb Universtedin yaninda Semed Vurgun kucesi,...
16    Neftçilər metrosu tərəfdə, metroya piyada təxm...
17    Masazir qəsəbəsi qurtulus 93 yashaysh kompleks...
18    Şərq bazarının tam yaxınlığı 17/1 qeyri yaşayı...
19    Metro Əhmədli də Sarayev küçəsində qanuni 5 ot...
20    Renessans Palace Premium tipli yaşayış komplek...
21    Əşyalı satılır,Masazir qəsəbəsi qurtulus 93 ya...
22    Atçılıqda 10 sotu çıxarışlı və texniki pasport...
23    Masazir qəsəbəsi qurtulus 93 yashaysh kompleks...
24    Xətai r/n, Həzi Aslanov metrosu yaxınlığında, ...
25    Bakıxanovda, Asan xidmətin yaxınlığında yerləş...
26    Salam əleykum. \nTəcili pul lazim olduğu üçün ...
27    EKSKLÜZİV❗️❗️❗Qış parkının yanında Delüks Təmi...
28    Kohne Gunesli qes. İnqlab İsmaylov küçəsi. Yol...
29    Təcili satılır. Hal-hazırda bu ərazidə bu qiym...
Name: description, dtype: object

In [ ]:
df=df.drop('description',axis=1)

In [ ]:
df=df.drop('unit_price',axis=1)

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'attributes', 'city', 'vip',
       'products_label', 'total_price', 'currency_y', 'owner_title',
       'shop_name', 'shop_title', 'address', 'lat', 'lng', 'Binanın növü',
       'Kateqoriya', 'Mərtəbə', 'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir',
       'Çıxarış', 'İpoteka', 'extra_info'],
      dtype='object')

In [ ]:
df['currency_x'].value_counts().sort_values()

currency_x
AZN    100743
Name: count, dtype: int64

In [ ]:
df['currency_y'].value_counts().sort_values()

currency_y
AZN    100743
Name: count, dtype: int64

In [ ]:
df=df.drop('currency_y',axis=1)

In [ ]:
df['owner_title'].value_counts().sort_values()

owner_title
mülkiyyətçi         10361
vasitəçi (agent)    89725
Name: count, dtype: int64

In [ ]:
df['shop_name'].isna().sum()

28731

In [ ]:
df['shop_name'].value_counts().sort_values()

shop_name
Al Əmlak                             1
F&M Club                             1
Artportal Real Estate                1
House Club                           1
SHARK HOME                           1
                                  ...
EVA Group "Platin Real Estate"    1376
My Dom                            1470
Real Əmlak Nərimanov              1514
EVA Group "Röyal Əmlak"           1936
Real Əmlak Yeni Yasamal           2482
Name: count, Length: 316, dtype: int64

In [ ]:
df['shop_title'].value_counts().sort_values()

shop_title
Daşınmaz əmlak agentliyi    72012
Name: count, dtype: int64

In [ ]:
df['address'].isna().sum()

0

In [ ]:
df['address'].value_counts().sort_values()

address
Мардакянское шоссе                             1
Gəncə pr-ti  29-30                             1
 Bilgəh qəs., Azərbaycan qadını küç. 293       1
Binə qəs., Babək küçəsi                        1
M.Rüstəmov küç. 12/42                          1
                                            ...
Gəncə prospekti                              612
Şüvəlan qəsəbəsi                             680
Mərdəkan qəs.                                953
Mərdəkan qəsəbəsi                            987
Mərdəkan qəsəbəsi                           1372
Name: count, Length: 16705, dtype: int64

In [ ]:
df['lng'].isna().sum()

0

In [ ]:
df['Binanın növü'].value_counts().sort_values()

Binanın növü
Villa              5
Biznes mərkəzi    64
Ev / Mənzil       85
Name: count, dtype: int64

In [ ]:
df['Kateqoriya'].value_counts().sort_values()

Kateqoriya
Qaraj                   89
Ofis                   154
Obyekt                4045
Torpaq                4897
Həyət evi/Bağ evi    15569
Köhnə tikili         18098
Yeni tikili          57891
Name: count, dtype: int64

In [ ]:
df['Kateqoriya'].isna().sum()

0

In [ ]:
df['Mərtəbə'].isna().sum()

24754

In [ ]:
df['Mərtəbə'].value_counts().sort_values()

Mərtəbə
1 / 33        1
5 / 32        1
1 / 23        1
21 / 25       1
14 / 33       1
           ...
8 / 9      1369
4 / 5      1680
2 / 5      1760
3 / 5      1764
5 / 5      1989
Name: count, Length: 392, dtype: int64

In [ ]:
df=df.drop('Mərtəbə',axis=1)

In [ ]:
df=df.drop('attributes',axis=1)

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'city', 'vip', 'products_label',
       'total_price', 'owner_title', 'shop_name', 'shop_title', 'address',
       'lat', 'lng', 'Binanın növü', 'Kateqoriya', 'Otaq sayı', 'Sahə',
       'Torpaq sahəsi', 'Təmir', 'Çıxarış', 'İpoteka', 'extra_info'],
      dtype='object')

In [ ]:
df['İpoteka'].value_counts().sort_values(ascending=False)

İpoteka
var    32935
Name: count, dtype: int64

In [ ]:
df['İpoteka'].isna().sum()

67808

In [ ]:
df['Təmir'].value_counts().sort_values()

Təmir
yoxdur    13160
var       81604
Name: count, dtype: int64

In [ ]:
df=df.drop('address',axis=1)

In [ ]:
df['vip']=df['vip'].fillna('not vipped')

In [ ]:
df['İpoteka']=df['İpoteka'].fillna('yox')

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'city', 'vip', 'products_label',
       'total_price', 'owner_title', 'shop_name', 'shop_title', 'lat', 'lng',
       'Binanın növü', 'Kateqoriya', 'Otaq sayı', 'Sahə', 'Torpaq sahəsi',
       'Təmir', 'Çıxarış', 'İpoteka', 'extra_info'],
      dtype='object')

In [ ]:
df['İpoteka']

0         yox
1         yox
2         yox
3         var
4         yox
         ...
100770    yox
100771    var
100772    var
100773    var
100774    yox
Name: İpoteka, Length: 100743, dtype: object

In [ ]:
df=df.drop('extra_info',axis=1)

In [ ]:
df.columns

Index(['price', 'currency_x', 'location', 'city', 'vip', 'products_label',
       'total_price', 'owner_title', 'shop_name', 'shop_title', 'lat', 'lng',
       'Binanın növü', 'Kateqoriya', 'Otaq sayı', 'Sahə', 'Torpaq sahəsi',
       'Təmir', 'Çıxarış', 'İpoteka'],
      dtype='object')

In [ ]:
df.dtypes

price             float64
currency_x         object
location           object
city               object
vip                object
products_label     object
total_price       float64
owner_title        object
shop_name          object
shop_title         object
lat               float64
lng               float64
Binanın növü       object
Kateqoriya         object
Otaq sayı         float64
Sahə               object
Torpaq sahəsi      object
Təmir              object
Çıxarış            object
İpoteka            object
dtype: object

In [ ]:
df['Sahə']

0         145 m²
1          90 m²
2          60 m²
3         130 m²
4         100 m²
           ...
100770    250 m²
100771    220 m²
100772    350 m²
100773    130 m²
100774     55 m²
Name: Sahə, Length: 100743, dtype: object

In [ ]:
df['Sahə'] = df['Sahə'].str.split().str[0]

In [ ]:
df['Torpaq sahəsi'] = df['Torpaq sahəsi'].str.split().str[0]

In [ ]:
df['Sahə']=df['Sahə'].astype(float)

In [ ]:
df['Torpaq sahəsi']

0         NaN
1         1.3
2         0.1
3         NaN
4         NaN
         ...
100770    3.5
100771     11
100772      7
100773    NaN
100774    NaN
Name: Torpaq sahəsi, Length: 100743, dtype: object

In [ ]:
df['Torpaq sahəsi'] = df['Torpaq sahəsi'].str.replace('sot', '' , regex=True)

In [ ]:
df['Torpaq sahəsi']=df['Torpaq sahəsi'].astype(float)

In [ ]:
df['Sahə'].dtype

dtype('float64')

In [ ]:
df['Sahə']

0         145.0
1          90.0
2          60.0
3         130.0
4         100.0
          ...
100770    250.0
100771    220.0
100772    350.0
100773    130.0
100774     55.0
Name: Sahə, Length: 100743, dtype: float64

In [ ]:
df=df.drop('currency_x',axis=1)

In [ ]:
#we have cleaned the data

In [ ]:
df.columns

Index(['price', 'location', 'city', 'vip', 'products_label', 'total_price',
       'owner_title', 'shop_name', 'shop_title', 'lat', 'lng', 'Binanın növü',
       'Kateqoriya', 'Otaq sayı', 'Sahə', 'Torpaq sahəsi', 'Təmir', 'Çıxarış',
       'İpoteka'],
      dtype='object')

In [ ]:
df.head()

,price,location,city,vip,products_label,total_price,owner_title,shop_name,shop_title,lat,lng,Binanın növü,Kateqoriya,Otaq sayı,Sahə,Torpaq sahəsi,Təmir,Çıxarış,İpoteka
0,499999.0,Səbail r.,bakı,vipped,NaN,499999.0,mülkiyyətçi,NaN,NaN,40.358817,49.824092,NaN,Köhnə tikili,4.0,145.0,NaN,var,var,yox
1,77000.0,Biləcəri q.,bakı,not vipped,NaN,77000.0,vasitəçi (agent),NaN,NaN,40.420897,49.807035,NaN,Həyət evi/Bağ evi,4.0,90.0,1.3,var,yoxdur,yox
2,92000.0,İnşaatçılar m.,bakı,not vipped,NaN,92000.0,vasitəçi (agent),NaN,NaN,40.390293,49.802656,NaN,Həyət evi/Bağ evi,3.0,60.0,0.1,var,var,yox
3,95000.0,Qaraçuxur q.,bakı,vipped,NaN,95000.0,mülkiyyətçi,NaN,NaN,40.393614,49.981553,NaN,Obyekt,NaN,130.0,NaN,var,var,var
4,220000.0,Əhmədli m.,bakı,not vipped,Agentlik,220000.0,vasitəçi (agent),Elite Ofis,Daşınmaz əmlak agentliyi,40.390550,49.957675,NaN,Yeni tikili,3.0,100.0,NaN,var,var,yox

In [ ]:
#Rustem muellimin tapsirigi make neural network

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [ ]:

# Numeric ve categoric sutunlari ayiririq
numeric_features = X.select_dtypes(include=['float64', 'int64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Numeric sutunlar ucun pipeline tetbiq edirik
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Categoric sutunlar ucun pipeline tetbiq edirik
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])
preprocessor.fit(X_train, y_train)

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 Index(['price', 'total_price', 'lat', 'lng', 'Otaq sayı', 'Sahə',
       'Torpaq sahəsi'],
      dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['location', 'city', 'vip', 'products_label', 'owner_title', 'shop_name',
       'shop_title', 'Binanın növü', 'Kateqoriya', 'Təmir', 'İpoteka'],
      dtype='object'))])

In [ ]:
df.shape

(100743, 19)

In [ ]:
X_train.shape[1]

18

In [ ]:
import tensorflow as tf

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.drop(columns=["Çıxarış"])
y = df["Çıxarış"]

In [ ]:
X_train_full, X_test, y_train_full, y_test=train_test_split(X, y, test_size=0.2, random_state=42)
X_train,X_valid,y_train,y_valid=train_test_split(
    X_train_full,y_train_full,random_state=42
)

In [ ]:
# norm_layer=tf.keras.layers.Normalization()

model=tf.keras.Sequential([
    tf.keras.layers.Input(shape=([18,])),
    norm_layer,
    tf.keras.layers.Dense(64,activation='leaky_relu',
                          kernel_initializer='he_normal'),
    tf.keras.layers.Dense(64,activation='leaky_relu',
                          kernel_initializer='he_normal'),
    tf.keras.layers.Dense(19,activation='sigmoid')
])

In [ ]:
# norm_layer.adapt(X_train)

In [ ]:
optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3)
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
history=model.fit(X_train,y_train,epochs=20,
                  validation_data=(X_valid,y_valid))

ValueError: could not convert string to float: 'İnşaatçılar m.'

Working with dataset

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Input ve target sutununu ayiririq
X = df.drop(columns=["Çıxarış"])
y = df["Çıxarış"]

# Datani train ve test e ayiririq
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Numeric ve categoric sutunlari ayiririq
numeric_features = X.select_dtypes(include=['float64', 'int64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

# Numeric sutunlar ucun pipeline tetbiq edirik
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Categoric sutunlar ucun pipeline tetbiq edirik
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Transformeri tetbiq edirik
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# RandomForestClassifier modelini pipeline icinde tetbiq edirik
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

# Hiperparametr axtarisi ucun grid
# param_grid = {
#     'classifier__n_estimators': [100, 200, 300],
#     'classifier__max_depth': [None, 10, 20]
# }

# GridSearchCV tetbiq edirik
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='accuracy', n_jobs=-1)
grid_search.fit(X_train, y_train)

# En yaxsi modeli secirik
y_pred = grid_search.best_estimator_.predict(X_test)

# Modelin deqiqliyini qiymetlendiririk
accuracy = accuracy_score(y_test, y_pred)
print(f"Best Model accuracy: {accuracy * 100:.2f}%")
print(f"Best parameters: {grid_search.best_params_}")

Best Model accuracy: 94.49%
Best parameters: {'classifier__max_depth': None, 'classifier__n_estimators': 300}

In [ ]:
# Best Model accuracy: 94.49%
# Best parameters: {'classifier__max_depth': None, 'classifier__n_estimators': 300}

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

models = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(random_state=42),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(random_state=42)
}


results = {}


for model_name, model in models.items():

    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('classifier', model)
    ])

    pipeline.fit(X_train, y_train)


    y_pred = pipeline.predict(X_test)


    accuracy = accuracy_score(y_test, y_pred)


    results[model_name] = accuracy


for model_name, accuracy in results.items():
    print(f"{model_name} accuracy: {accuracy * 100:.2f}%")

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression accuracy: 85.91%
Random Forest accuracy: 94.43%
Support Vector Machine accuracy: 86.90%
K-Nearest Neighbors accuracy: 89.72%
Gradient Boosting accuracy: 85.55%

In [ ]:
# Logistic Regression accuracy: 85.91%
# Random Forest accuracy: 94.43%
# Support Vector Machine accuracy: 86.90%
# K-Nearest Neighbors accuracy: 89.72%
# Gradient Boosting accuracy: 85.55%